@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;1,300;1,400&family=Montserrat&family=Poppins:wght@400;500;600;700;800&family=Readex+Pro&family=Roboto&display=swap');
:root {
  --primary-color: #4e26e0;
  --dark-gray: #6b7280;
  --offwhite: #ebdede65;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* custom scoll bar */

::-webkit-scrollbar {
  width: 0.6vw
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#4e26e0;
  border-radius: 5px;
  
}

/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); 
} 

html{
  scroll-behavior: smooth;
  scrollbar-width: normal;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  background-color: white;

}

hr {
  margin: 2.5rem 0rem;
}

/* alignment */
h2 {
  margin: 0;
  text-align: center;
}

h1,
p {
  text-align: center;
}

/* spaces */
.margin-spaces {
  /* margin: 1rem; */
  padding: 1rem;
}

/* container */
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

/* links */
.link {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  /* margin-top: 5rem;
  margin-bottom: 1rem; */
}

.link-center {
  display: flex;
  justify-content: center;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  margin: 0.5rem;
}


.center-links {

  text-align: center;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 0.1px solid var(--primary-color);

}

.list-non-bullet {
  list-style: none;
  /* border: 5px solid var(--primary-color); */
  /* background-color: #fdfafadc; */
  border-radius: 0.5rem;
  /* margin-top: 1rem; */
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* navigation */

nav{
  background-color: var(--primary-color);
  height: 5rem;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding:  5rem;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  font-weight: 500;
}
.navbar.active, .navbar:hover{
  background-color: #3f22a7;
  border-radius: 3px;
  transition: .25s;
}

.checkbtn{
  font-size: 32px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;

}






/* header */

.hero-heading {
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem;
  margin: 0;
}

.hero .hero-img {
  max-width: 200px;
  display: block;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 10px;
}

.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

/* section */

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.off-white {
  background-color: var(--offwhite);
}

/* footer */

.footer {
  background-color: var(--primary-color);
  padding: 2rem ;
  text-align: center;
  color: white;
  height:5rem;
  
}
/* .social-icons{

  padding-left: 5rem;
  
} */

.footer .link {
  color: white;
}

.rights{
 display: flex;
 justify-content: right;
}


/* for project and blog images */
.hero-img {
  max-width: 300px;
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* technologies section */
.tech {
  padding: 0.8rem;
  height: 100px;
  width: 5rem;
}

.nav-pills {
  display: block;

}


@media only screen and (max-width: 962px) {

  #inputText,
  #outputText {
    width: 100%;
  }

  /* technologies */
  .tech {
    height: 80px;
    width: 80px;

  }


  a {
    font-size: 15px;
  }

  p {
    font-size: 16px;
  }

  .nav-pills {
    display: block;

  }


/* navbar */
label.logo{
  font-size: 25px;
  padding-left: 40px;
  padding-right: 0px;
}

nav ul li a {
  font-size: 16px;
}
 .hero .hero-img{ 
   padding-top: 20px;
 }

}

@media (max-width: 962px){
  .checkbtn{
    display: block;
  }
  .top-nav{
    position: fixed;
    width: 100%;
    height: 60vh; 
    background-color: #1b1a1a;
    left: -100%;
    top: 80px;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    font-size: 20px;
  }
  nav ul li a {
    font-size: 18px;
  }
  
  #check:checked ~ ul{
    left: 0;
  }
  nav ul {
  
margin-right: 0px;
}
nav{
  position: fixed;
}
}